[Unit]
Description=AnonKey API Backend
Wants=network.target
After=network-online.target syslog.target

[Service]
WorkingDirectory=/opt/AnonKey
Type=simple
ExecStart=/opt/AnonKey/AnonKey-Backend
Restart=always
RestartSec=5
Environment="ASPNETCORE_ENVIRONMENT=Development"
Environment="ASPNETCORE_HTTP_PORTS=5000"

[Install]
WantedBy=multi-user.target
